.container {
    font-family: "Nunito", sans-serif;
    padding: 0 10px;
}
  
.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.555);
    backdrop-filter: blur(5px);
}
  
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 20px;
}
  
.homeItem {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 10px 20px;
}
  
.create-playlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0;
    color: rgb(156, 157, 160);
}
  
.create-playlist h1 {
    margin: 0;
}
