.btn {
    border: none;
    outline: none;
    background: #a08b8b;
    color: #5B7DB1;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    transition: all .2s ease-in-out;
}

.btn:hover {
    background: #F7CCAC;
}
