.navbar {
    display: flex;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 2;
    background-color: rgba(240, 232, 255, 0.5);
    backdrop-filter: blur(5px);
}
  
.cardImage {
    width: 100px;
    height: 100px;
}
  
.cardImage img {
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
} 
