.input{
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    border: none;
    outline: none;
    /*background: url("./search-solid.svg") no-repeat;*/
    background-size: 14px;
    background-position: left;
    background-position-x: 12px;
    background-color: #d8ccee;
    padding: 10px 40px;
    width: 180px;
    transition: all .3s linear;
}

.input:focus{
    background-color: #9586b3;
    color: #f3ecff;
    width: 200px;
} 
